@font-face {
    font-family: helvetica;
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: helvetica;
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: helvetica;
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 600;
}

.btn-primary{
    padding: 12px;
    width: 100%;
    background-color: #FF6600;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}


input:not([type="checkbox"],[type="radio"]), select{
    border-radius: 7px;
    padding: 12px;
    border: 1px solid #3C3C3C;
    background-color: #0F0F0F;
    font-size: 16px;
    color: #fff;

    &:focus{
        border: 1px solid #FF6600;
    }
    &:disabled{
        color: #949494;	
    }
    &::file-selector-button{
        display: none;
    }
    &::placeholder{
        color: #949494;
        font-size: 16px;
    }
}
*{
    font-family: helvetica;
}
body{
    background: #000;
    font-size: clamp(13px, 1.1vw, 16px);
}
.container{
    max-width: 1560px;
    padding-inline: 10px;
    margin-inline: auto;
}
.input-error{
    color: red;
    font-size: 14px;
}

.notification{
    padding: 12px;
    border: 1px solid red;
    border-radius: 7px;

    p{
        color: red!important;
    }

    &.good{
        border: 1px solid green;
    }
}
